<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <script src="angular/scripts/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="angular/scripts/angular.js"></script>
    <script src="angular/scripts/angular-route.js"></script>
    <script src="angular/app.js"></script>
    <script src="angular/controllers.js"></script>
    <script src="angular/directives.js"></script>
  </head>
  <body>
      <div ng-view> 
      </div>
  </body>
</html>
