<h1>Todos los Productos</h1>

<div ng-controller="TodosController as ctrl">
    <ul ng-repeat="producto in ctrl.productos">
        
        <li >
            {{producto.name | uppercase}} - {{producto.price | currency}}
            <a ng-href="#/editar/{{producto._id}}">Editar</a>
            <a ng-href="#/ver/{{producto._id}}">Ver</a>
            <a ng-href="#" ng-click="ctrl.delete(producto._id);">Eliminar</a>
        </li>
        
    </ul>    
</div>

<a ng-href="#/nuevo">Nuevo</a>
<a ng-href="#/validation">Validacion</a>
<a ng-href="#/calculator">Calculator</a>
<a ng-href="/users/logout">Logout</a>