<form ng-submit="ctrl.save()" ng-controller="NuevoCtrl as ctrl">
    Name: <input type="text" ng-model="ctrl.name" />
    Phone Number: <input type="text" ng-model="ctrl.phone" />
    <input type="submit" id="submit" value="guardar" />
</form>