<!DOCTYPE html>
<html>
  <head>
    <title>Agregar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Agregar producto nuevo</h1>
    <form method="post" action="/agregar"> 
        Producto: <input type="text" name="name"/>
        <br />
        Precio: <input type="text" name="price"/>
        <br />
        <input type="submit" value="guardar"/>
    </form>
      
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
  </body>
</html>