<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Example</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Index Views</h1>
      <br />
      
      <div ng-view></div>
      
    <script src="/angular/scripts/angular.min.js"></script>
    <script src="/angular/scripts/angular-route.min.js"></script>
    <script src="/angular/app.js"></script>
    <script src="/angular/controllers.js"></script>
      
  </body>
</html>
